.display-4 {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9), 4px 4px 10px rgba(0, 0, 0, 0.7);
    font-weight: 700;
}

.custom-lead {
    color: cyan;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9), 4px 4px 10px rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
}

.btn-primary {
    background-color: darkcyan;
    border-radius: 30px;
    border-color: #28a745;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9), 4px 4px 10px rgba(0, 0, 0, 0.7);
}

    .btn-primary:hover {
        background-color: green;
        border-color: #1e7e34;
    }
