@page "/signup"
@using MediBooking.Models
@using MediBooking.Services.UserServices
@inject IUserService UserService
@rendermode InteractiveServer

<h3>SignUp</h3>

<EditForm Model="newUser" OnValidSubmit="HandleSignUp">
    <div class="mb-3">
        <label for="firstName">First Name</label>
        <InputText id="firstName" class="form-control" @bind-Value="newUser.FirstName" />
    </div>

    <div class="mb-3">
        <label for="lastName">Last Name</label>
        <InputText id="lastName" class="form-control" @bind-Value="newUser.LastName" />
    </div>

    <div class="mb-3">
        <label for="amka">AMKA</label>
        <InputText id="amka" class="form-control" @bind-Value="newUser.Amka" />
    </div>

    <div class="mb-3">
        <label for="role">Role</label>
        <InputSelect id="role" class="form-select" @bind-Value="newUser.UserRole">
            <option value="">-- Select Role --</option>
            <option value="Patient">Patient</option>
            <option value="Doctor">Doctor</option>
            <option value="Admin">Admin</option>
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="username">Username</label>
        <InputText id="username" class="form-control" @bind-Value="newUser.Username" />
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="newUser.Password" />
    </div>

    <div class="mb-3">
        <label for="location">Location</label>
        <InputText id="location" class="form-control" @bind-Value="newUser.Location" />
    </div>

    <div class="mb-3">
        <label for="profilePicture">Profile Picture Path</label>
        <InputText id="profilePicture" class="form-control" @bind-Value="newUser.ProfilePicture" />
    </div>

    <div class="mb-3">
        <label for="patientHistory">Patient History</label>
        <InputTextArea id="patientHistory" class="form-control" @bind-Value="newUser.PatientHistory" rows="3" />
    </div>

    <div class="mb-3">
        <label for="notes">Notes</label>
        <InputTextArea id="notes" class="form-control" @bind-Value="newUser.Notes" rows="3" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

    @if (!string.IsNullOrEmpty(statusMessage))
    {
        <div class="mt-3 alert alert-info">@statusMessage</div>
    }
</EditForm>

@code {
    private User newUser = new User();
    private string statusMessage;

    private async Task HandleSignUp()
    {
        var success = await UserService.CreateUser(newUser);
        statusMessage = success ? "User registered successfully." : "Registration failed. Please try again";
        if(success)
        {
            newUser = new User();
        }
    }

}
